.request-form-card {
  background-color: lightgray;
}

.submit-button {
  background-color: gray;
}

.submit-button:hover {
  background-color: dimgray;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.response-card {
  background-color: lightgray;
}

table {
  align-self: center;
  width: 100%;
}

th:hover {
  background-color: cadetblue;
}

.data-tr:hover {
  background-color: cadetblue;
}

.extra-button {
  background-color: darksalmon;
}

p {
  width: 100%;
  align-content: center;
}
