<mat-toolbar style="background-color: darkblue">
  <table>
    <tr>
      <th class="toolbar-cell">
        <nav>
          <a routerLink="/items"
             routerLinkActive="active"
             style="color: whitesmoke">websocket global logging</a>
        </nav>
      </th>
      <th class="toolbar-cell">
        <nav>
          <a routerLink="/item"
             routerLinkActive="active"
             style="color: whitesmoke">websocket singular logging</a>
        </nav>
      </th>
    </tr>
  </table>
</mat-toolbar>

<mat-toolbar style="background-color: cornflowerblue">
  <p style="margin-left: 47%; margin-top: 1%">REST</p>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="by user id">
    <mat-card class="request-form-card">
      <div class="flex-container">
        <mat-form-field>
          <div style="text-align: center">
            <input matInput placeholder="user id"
                   [(ngModel)]="uid">
          </div>
        </mat-form-field>
      </div>
      <div style="text-align: center">
        <button mat-button class="submit-button" (click)="getRobotsByUser()">get</button>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="by user&ticker">
    <mat-card class="request-form-card">
      <div class="flex-container">
        <mat-form-field>
          <div style="text-align: center">
            <input matInput placeholder="user id"
                   [(ngModel)]="uid">
          </div>
        </mat-form-field>
      </div>
      <div class="flex-container">
        <mat-form-field>
          <div style="text-align: center">
            <input matInput placeholder="ticker"
                   [(ngModel)]="ticker">
          </div>
        </mat-form-field>
      </div>

      <div style="text-align: center">
        <button mat-button class="submit-button" (click)="getRobotByUserAndTicker()">get</button>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="by ID">
    <mat-card class="request-form-card">
      <div class="flex-container">
        <mat-form-field>
          <div style="text-align: center">
            <input matInput placeholder="id"
                   [(ngModel)]="rid">
          </div>
        </mat-form-field>
      </div>

      <div style="text-align: center">
        <button mat-button class="submit-button" (click)="getRobotById()">get</button>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<mat-toolbar style="background-color: antiquewhite">
  <p>Response to: {{latestRequest}}</p>

  <div *ngIf="extraButtons">
    <table>
      <tr>
        <th>
          <button mat-button (click)="favor()" class="extra-button">favourite</button>
        </th>
        <th>
          <button mat-button (click)="activate()" class="extra-button">activate</button>
        </th>
        <th>
          <button mat-button (click)="deactivate()" class="extra-button">deactivate</button>
        </th>
      </tr>
    </table>
  </div>
</mat-toolbar>

<div *ngIf="lastGetRobots()">
  <table class=" robot-table" id="logging-table">
    <tr>
      <th class="table-cell">
        robot_id
      </th>
      <th>
        owner_user_id
      </th>
      <th>
        parent_robot_id
      </th>
      <th>
        is_favourite
      </th>
      <th>
        is_active
      </th>
      <th>
        ticker
      </th>
      <th>
        buy_price
      </th>
      <th>
        sell_price
      </th>
      <th>
        plan_start
      </th>
      <th>
        plan_end
      </th>
      <th>
        plan_yield
      </th>
      <th>
        fact_yield
      </th>
      <th>
        deals_count
      </th>

    </tr>
    <tr *ngFor="let item of pluralResponse" class="data-tr" (click)="toggleExtraButtons(item.robot_id + '')">
      <th>
        {{item.robot_id}}
      </th>
      <th>
        {{item.owner_user_id}}
      </th>
      <th>
        {{item.parent_robot_id}}
      </th>
      <th>
        {{item.is_favourite}}
      </th>
      <th>
        {{item.is_active}}
      </th>
      <th>
        {{item.ticker}}
      </th>
      <th>
        {{item.buy_price}}
      </th>
      <th>
        {{item.sell_price}}
      </th>
      <th>
        {{item.plan_start}}
      </th>
      <th>
        {{item.plan_end}}
      </th>
      <th>
        {{item.plan_yield}}
      </th>
      <th>
        {{item.fact_yield}}
      </th>
      <th>
        {{item.deals_count}}
      </th>
    </tr>
  </table>
</div>

<div *ngIf="lastGetRobot()">
  <table class=" robot-table">
    <tr class="table-row-title">
      <th class="table-cell">
        robot_id
      </th>
      <th>
        owner_user_id
      </th>
      <th>
        parent_robot_id
      </th>
      <th>
        is_favourite
      </th>
      <th>
        is_active
      </th>
      <th>
        ticker
      </th>
      <th>
        buy_price
      </th>
      <th>
        sell_price
      </th>
      <th>
        plan_start
      </th>
      <th>
        plan_end
      </th>
      <th>
        plan_yield
      </th>
      <th>
        fact_yield
      </th>
      <th>
        deals_count
      </th>
    </tr>
    <tr class="data-tr" (click)="toggleExtraButtons(undefined)">
      <th>
        {{singularResponse.robot_id}}
      </th>
      <th>
        {{singularResponse.owner_user_id}}
      </th>
      <th>
        {{singularResponse.parent_robot_id}}
      </th>
      <th>
        {{singularResponse.is_favourite}}
      </th>
      <th>
        {{singularResponse.is_active}}
      </th>
      <th>
        {{singularResponse.ticker}}
      </th>
      <th>
        {{singularResponse.buy_price}}
      </th>
      <th>
        {{singularResponse.sell_price}}
      </th>
      <th>
        {{singularResponse.plan_start}}
      </th>
      <th>
        {{singularResponse.plan_end}}
      </th>
      <th>
        {{singularResponse.plan_yield}}
      </th>
      <th>
        {{singularResponse.fact_yield}}
      </th>
      <th>
        {{singularResponse.deals_count}}
      </th>
    </tr>
  </table>
</div>
