.signin-form-card {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 300px;
  height: 200px;
  background-color: lightgray;
}

.signin-button {
  background-color: gray;
}

.signin-button:hover {
  background-color: dimgray;
}

.flex-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
