<mat-card class="signin-form-card">

  <div class="flex-container">
    <mat-form-field>
      <div style="text-align: center">
        <input matInput placeholder="email"
               [(ngModel)]="email"
               class="signin-input">
      </div>
    </mat-form-field>
  </div>
  <div class="flex-container">
    <mat-form-field>
      <div style="text-align: center">
        <input matInput placeholder="password"
               [(ngModel)]="password"
               class="signin-input">
      </div>
    </mat-form-field>
  </div>

  <div style="text-align: center">
    <button mat-button class="signin-button" (click)="signin()" class="signin-button">sign in</button>
  </div>

</mat-card>
