<mat-toolbar style="background-color: darkblue">
  <table>
    <tr>
      <th class="toolbar-button">
        <nav>
          <a routerLink="/items" routerLinkActive="active" style="color: whitesmoke" (click)="socketService.gentlyClose()">websocket Robots catalog</a>
        </nav>
      </th>
      <th class="toolbar-button">
        <nav>
          <a routerLink="/rest" routerLinkActive="active" style="color: whitesmoke" (click)="socketService.gentlyClose()">REST</a>
        </nav>
      </th>
    </tr>
  </table>
</mat-toolbar>

<mat-toolbar style="background-color: cornflowerblue">
  <p style="margin-left: 47%; margin-top: 1%">websocket single Robot</p>
</mat-toolbar>

<div *ngIf="!connected">
  <table>
    <tr>
      <th>
        <button mat-button (click)="onConnectToOne()">connect</button>
      </th>
      <th>
        <mat-form-field>
          <input matInput placeholder="robot id" [(ngModel)]="rid"/>
        </mat-form-field>
      </th>
    </tr>
  </table>
</div>


<div *ngIf="connected">
  <table>
    <th>
      <button mat-button (click)="onReOpen()">connect by id</button>
    </th>
    <th>
      <button mat-button (click)="disconnect()">disconnect</button>
    </th>
  </table>
  <table class=" robot-table" id="logging-table">
    <tr class="table-row-title">
      <th class="table-cell">
        robot_id
      </th>
      <th>
        owner_user_id
      </th>
      <th>
        parent_robot_id
      </th>
      <th>
        is_favourite
      </th>
      <th>
        is_active
      </th>
      <th>
        ticker
      </th>
      <th>
        item.buy_price
      </th>
      <th>
        sell_price
      </th>
      <th>
        plan_start
      </th>
      <th>
        plan_end
      </th>
      <th>
        plan_yield
      </th>
      <th>
        fact_yield
      </th>
      <th>
        deals_count
      </th>
    </tr>

    <tr *ngFor="let item of messages">
      <th>
        {{item.robot_id}}
      </th>
      <th>
        {{item.owner_user_id}}
      </th>
      <th>
        {{item.parent_robot_id}}
      </th>
      <th>
        {{item.is_favourite}}
      </th>
      <th>
        {{item.is_active}}
      </th>
      <th>
        {{item.ticker}}
      </th>
      <th>
        {{item.buy_price}}
      </th>
      <th>
        {{item.sell_price}}
      </th>
      <th>
        {{item.plan_start}}
      </th>
      <th>
        {{item.plan_end}}
      </th>
      <th>
        {{item.plan_yield}}
      </th>
      <th>
        {{item.fact_yield}}
      </th>
      <th>
        {{item.deals_count}}
      </th>
    </tr>
  </table>
</div>
