table {
  align-self: center;
  width: 100%;
}

.table-row-title {
  background-color: darksalmon;
}

.table-row {
  background-color: burlywood;
}

th, tr {
  border: 2px solid black;
}

.toolbar-button:hover {
  background-color: cadetblue;
}
